@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Familjen Grotesk", sans-serif;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.main-header {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 200px;
    padding: 0 30px;
}

.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 185px;
}

.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu ul {
    display: flex;
}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}

section {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.section-inner {
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;
}

.section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.section-a {
    background-image: url("image/section-a.webp");
}

.section-b {
    background-image: url("image/section-b.webp");
}

.section-c {
    background-image: url("image/section-c.webp");
}

.section-d {
    background-image: url("image/section-d.webp");
}

.section-e {
    background-image: url("image/section-e.webp");
}

.section-f {
    background-image: url("image/section-f.webp");
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}

.btn:hover span {
    color: #000;
}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
    transform: translateY(0);
}

.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
}

footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 2.5;
}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
}

footer ul li a:hover {
    color: #aaa;
}

.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
}

.hamburger-mid {
    transform: translateY(5px);
}

.hamburger-bot {
    transform: translateY(10px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-mid {
    display: none;
}

.open .hamburger-bot {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.stop-scroll {
    overflow: hidden;
}

.mobile-only {
    display: none;
}

.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 330px;
    height: 100%;
    z-index: 4;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.show-menu {
    transform: translateX(0);
}

.mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.mobile-main-menu li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #fff dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
}

.mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
    color: #aaa;
}

.bg-falcon-9 {
    background-image: url("image/falcon-9.webp");
}

.bg-falcon-heavy {
    background-image: url("image/falcon-heavy.webp");
}

.bg-dragon {
    background-image: url("image/dragon.webp");
}

.bg-starship {
    background-image: url("image/starship.jpg");
}

.section-animate {
    animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    width: 80%;
}

.section-inner-center h3 {
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
    font-size: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.stats {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}

.stats div span {
    font-size: 160px;
}

.stats div h4 {
    font-size: 24px;
    font-weight: 300;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 960px) {
    .desktop-main-menu {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .section-inner-center h3 {
        font-size: 75px;
    }
}

@media screen and (max-width: 600px) {
    .section-inner {
        bottom: 75px;
        left: 20px;
    }

    .section-inner h2 {
        font-size: 20px;
    }

    footer ul li:first-child {
        position: relative;
        text-align: center;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 15px;
    }

    footer ul li {
        position: relative;
        text-align: end;
        margin-right: 15px;
    }

    .logo {
        position: fixed;
        width: 150px;
        margin: auto;
    }

    .section-inner-center h3 {
        font-size: 50px;
    }

    .stats {
        flex-direction: column;
    }

    .stats div {
        margin-bottom: 20px;
    }
}